<div class="sidebar">
  <div class="logo">
    <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="./assets/img/angular2-logo-white.png" />
      </div>
    </a>
    <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-normal">
      Up Bring Academy
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="{{ menuItem.class }} nav-item"
      >
        <a [routerLink]="[menuItem.path]">
          <i class="tim-icons  {{ menuItem.icon }}"></i>
          <h4>{{ menuItem.title }}</h4>
        </a>
      </li>
    </ul>
  </div>
</div>