<div class="sidebar">
  <div class="logo">
    <a class="simple-text">
      <img src="assets/img/iconUpBringAcademy.png" class="img-fluid"  width="40" height="20">
      UpBring Academy</a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="{{ menuItem.class }} nav-item"
      >
        <a [routerLink]="[menuItem.path]">
          <i class="tim-icons  {{ menuItem.icon }}"></i>
          <h4>{{ menuItem.title }}</h4>
        </a>
      </li>
    </ul>
  </div>
</div>
