<app-sidebar></app-sidebar>
<main class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
        <div style="width: 45%;">
            <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Gratificação</th>
                    <th>Recuperações</th>
                  </tr>
                </thead>
                <tbody *ngIf="user.admin">
                  <tr *ngFor="let gratification of gratifications">
                    <td>1</td>
                    <td>{{gratification.name}}</td>
                    <td>
                      <div *ngFor="let redeem of gratification.redeemDateTime">
                        <div>{{getChild(redeem.childId).name}}</div>
                        <div>{{convertDateTime(redeem.dateTime)}}</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <app-footer></app-footer>
</main>
