<app-sidebar></app-sidebar>
<main class="main-panel">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="container">
      <div class="main-panel">
        <br/>
        <div class="row flex-column">
          <button type="button" class="btn btn-primary btn-lg btn-success">Criar Tarefa</button>
        </div>
        <br/>
        <div class="container flex-column">
          <ol class="list-group">
            <a href="#" class="p-3 mb-2 bg-dark  bg-gradient text-white list-group-item list-group-item-action active" aria-current="true" style="border-color: transparent">
              <div class="row">
                <div class="col">
                  <h2 class="mb-1"><b>Título da tarefa</b></h2>
                </div>
                <div class="col">
                  <h3 class="align-content-end float-md-right">Prazo final</h3>
                </div>
              </div>
              <div class="d-flex w-100 justify-content-end" >
                  <button class="col-lg-2 btn btn-primary float-md-right bi bi-pencil-square btn-info">Editar</button>
                  <button class="col-lg-2 row-cols-lg-3 btn btn-secondary float-md-right bi bi-dash-circle btn-danger"> Excluir</button>
                  <br/>
              </div>
              <p class="mb-1">Aqui irá ficar a descrição da tarefa</p>
              <small>Aqui deve ficar atribuições aos filhos</small>
            </a>
          </ol>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
