<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/yorranan/UpBringAcademy">
          Sobre Nós
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} desenvolvido com
      <i class="bi bi-heart-fill"> </i> pela equipe
      <a href="https://github.com/yorranan/UpBringAcademy" target="_blank"> UpBring </a>
      
    </div>
  </div>
</footer>
