<section class="vh-100">
    <!--verificar os id quando adicionar a parte de BD-->
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/img/upBringAcademyLogo.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <p>Crie seu cadastro</p>
            <!-- Name input -->
            <div class="form-outline">
                <label for="name" class="form-label">Nome</label>
                <input id="name" type="text" class="form-control mb-1" placeholder="Nome completo" name="name" [(ngModel)]="name">
            </div>  
            <!-- birthdayDate input -->
            <div class="form-outline">
                <label for="birthdayData" class="form-label">Data de Nacimento</label>
                <input id="birthDate" type="date" class="form-control mb-1" id="birthdayDate" name="birthDate" [(ngModel)]="birthDate"/>
              </div>
            <!-- Email input -->
            <div class="form-outline">
                <label class="form-label" for="form3Example3">Email</label>
                <input id="email" type="email" class="form-control mb-1" placeholder="Email valido" name="email" [(ngModel)]="email"/>
            </div>

            <!-- Password input -->
            <div class="form-outline">
                <label class="form-label" for="form3Example4">Senha</label>
                <input id="password" type="password" class="form-control mb-1" placeholder="Senha" name="password" [(ngModel)]="password"/>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
              </div>
              <a href="login" class="text-body">Já tem conta?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button (click)="cadastrar()" type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
