<app-sidebar></app-sidebar>
<main class="main-panel">
  <app-navbar></app-navbar>
  <div class="content" >
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
            <p>Editar Bonificação</p>
            <div class="form-outline">
              <label for="name" class="form-label">Nome</label>
              <input id="name" type="text" class="form-control mb-1" placeholder="Nome da bonificação" name="name" [(ngModel)]="name">
            </div>

            <div class="form-outline">
                <label for="description" class="form-label">Descrição</label>
                <input id="description" type="text" class="form-control mb-1" placeholder="Descrição da bonificação" name="description" [(ngModel)]="description">
            </div> 

            <div class="form-outline">
              <label for="quantity" class="form-label">Quantidade</label>
              <input id="quantity" type="number" class="form-control mb-1" placeholder="Quantidade da bonificações" name="quantity" [(ngModel)]="quantity"/>
            </div>

            <div class="form-outline">
                <label for="points" class="form-label">Pontos</label>
                <input id="points" type="number" class="form-control mb-1" placeholder="Valor da Bonificação" name="points" [(ngModel)]="points"/>
              </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button (click)="cancel()" type="button" class="btn btn-secundary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Cancelar</button>
            <button (click)="edit()" type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Editar</button>
          </div>
        </form>
      </div> 
  </div>
  <app-footer></app-footer>
</main>
