<app-sidebar></app-sidebar>
<main class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
        <h1>CONTEUDO</h1>
    </div>
    <app-footer></app-footer>
</main>